{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="theme-switch-wrapper mr-2">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox"/>
                        <div class="slider round"></div>
                    </label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt mt-1" data-toggle="tooltip" title="Sasa!!!"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-bell mt-1"></i>
                        <span class="badge badge-danger navbar-badge">18</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <img src="{{ asset('assets/dist/img/warning-red.png') }}" alt="Warning Symbol" class="img-size-50 mr-3 mt-1 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title text-sm">
                                        Autorizaciones
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-xs">que vencen en hoy:</p>
                                    <p class="text-xs text-muted"><i class="far fa-envelope mr-1"></i> 4 restantes</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <img src="{{ asset('assets/dist/img/warning-gray.png') }}" alt="Warning Symbol" class="img-size-50 mr-3 mt-1 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Autorizaciones
                                        <span class="float-right text-sm text-info"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-xs">pendientes en total:</p>
                                    <p class="text-xs text-muted"><i class="far fa-envelope mr-1"></i> 14 restantes</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('assets/dist/img/user.png') }}" class="user-image img-circle elevation-2"
                             alt="User Image">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="user-header bg-secondary">
                            <img src="{{ asset('assets/dist/img/user.png') }}" class="img-circle elevation-2" alt="User Image">
                            <p>
                                Yadiel Diaz Hernadez
                                <small>Desarrollador Principal</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <a href="#" class="btn btn-default">Perfil</a>
                            <a href="#" class="btn btn-default float-right">Cerrar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <span class="brand-link pl-2">
            <img src="{{ asset('assets/dist/img/arnac-logo-white.png') }}" alt="ARNAC Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light font-italic pl-3">Servi ARNAC</span>
        </span>

            {% block menu %}{% endblock %}
        </aside>

        <div class="content-wrapper text-xs">
            {% block content %}{% endblock %}
        </div>

        <footer class="main-footer text-xs">
            <div class="float-right d-none d-sm-inline">
                Todos los derechos reservados.
            </div>
            &copy; 2021 <strong>TITOTorres & Grupo de Desarrollo ARTAX Tech.</strong>
        </footer>
    </div>
{% endblock %}